.container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-color: var(--colorCode);
  margin: 20px 0;
}

.button-wrapper button {
  margin: 0.5rem;
}

.color-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 90vh;
  font-size: 30px;
}

.color-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
